/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		text-align:center;
		background: #eaeaea url(../images/bgtextura.jpg) repeat fixed;
	}
	
	.inputcantidades{
		width:100%
	}
	
	.firstrow{
		margin-top:20px;
		margin-bottom:20px;
	}
	
	.preguntas p{
		height:75px;
		}
		
	.row.preguntas{
		overflow:visible;
	}
		
	.fraseprecio, .frasepreciomensual{
		font-size:30px;
		text-align:right;
	}
	
	.preciohora{
		font-size:100px;
		font-weight:bold;
		text-align:right;
	}
	
	p.preciohora, p.fraseprecio{
		margin:0;
	}
	
	.frasepreciomensual{
		text-align:left;
		font-size:25px;
		}
	.frasepreciomensual .preciomensual{
		font-size:45px;
		font-weight:bold;
	}
	
	.preciorow{
		margin-top:20px;
		overflow: visible;
	}
	
	body footer{ margin-top:30px;
	padding:10px 0;
	clear:both;}
	
	.explicacionrow{
		text-align:left;
		margin-top:75px;
		clear:both;
		display:none;
		}
		
	.explicacionrow li{
		margin:40px 0;
		}
	.fondocosmonauta{
		position:absolute;
		bottom:10px;
		left:10px;
		z-index:-1;
	}
	
	.logorow{
		margin-bottom:20px;
	}
	
	.preguntas p.ptotal{
		height:auto;
	}
	
	.socialnets{ display:block; width: 120px; margin: 0 auto;}
	.cosmotwitter{ background:url(../images/twitter.png) no-repeat top center;} 
	.cosmofacebook{ background:url(../images/facebook.png) no-repeat top center;} 
	.cosmogoogleplus{ background:url(../images/googleplus.png) no-repeat top center;} 
	
	.cosmotwitter, .cosmofacebook, .cosmogoogleplus{display:block; width:20px; height:20px; float:left; margin-right:20px;}
	.cosmotwitter:hover, .cosmofacebook:hover, .cosmogoogleplus:hover{ background-position:bottom center;}
	.cosmotwitter span, .cosmofacebook span, .cosmogoogleplus span{display:none;}
	
/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}
	
	.preguntas p{
		height:auto;
		}
		

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}

/* Corner ribbon */


.ribbon-wrapper-green {
width: 120px;
height: 130px;
overflow: hidden;
position: absolute;
top: -3px;
right: -4px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
left: -22px;
top: 32px;
width: 180px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green a{
  color: #333;
  text-decoration:none;
}

.ribbon-green a:hover{
  color: #093;
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}