<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Cosmonauta | Digital By Default</title>
    <meta name="description" content="Calculadora de precio de hora de trabajo">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

	<!-- The 1140px Grid - http://cssgrid.net/ -->
	<link rel="stylesheet" href="../css/1140.css" type="text/css" media="screen" />
	
	<!-- Your styles -->
	<link rel="stylesheet" href="../css/styles.css" type="text/css" media="screen" />
	
	<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
	<script type="text/javascript" src="../js/vendor/css3-mediaqueries.js"></script>
    
    <!-- Loading Bootstrap -->
    <link href="../css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="../css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>

    <script type="text/javascript" src="../js/vendor/angular.min.js"></script>
    <script type="text/javascript" src="../js/vendor/angular-ui.min.js"></script>
    <script type="text/javascript" src="../js/vendor/angular-ui-ieshiv.min.js"></script>
    <script src="../js/preciohora.js"></script>
</head>


<body ng-app="CalcApp">

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-ZMWQ"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-ZMWQ');</script>
        <!-- End Google Tag Manager -->



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=480895755268725";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



<img src="../images/cosmonauta-fondo.png" class="fondocosmonauta" />

<div class="container" ng-controller="calcCtrl">

	<div class="row firstrow">
    	<div class="twocol">
        </div>
        <div class="eightcol">
        	<h2>¿Sabes cuánto cobrar por una hora de tus servicios?</h2>
			<h3>Responde 5 preguntas y descúbrelo.</h3>
        </div>
        <div class="twocol last">
        </div>
    </div>
    <div class="row preguntas">
        <div class="twocol">
        	<img src="../images/icosueldo.png" />
        	<p>¿Cuánto te gustaría ganar al mes?</p>
        	<input type="number" value="" placeholder="Sueldo" class="inputcantidades" ng-model="salario_mensual_promedio" min="0">
        </div>
        <div class="twocol">
        	<img src="../images/icovacaciones.png" />
        	<p>¿Cuántos días libres quieres tener?</p>
        	<input type="number" value="" placeholder="Vacaciones" class="inputcantidades" ng-model="vacaciones" min="0">
            <input type="number" value="" placeholder="Días festivos" class="inputcantidades" ng-model="feriados" min="0">
        </div>
        <div class="twocol">
            <img src="../images/icoincapacidad.png" />
            <p>A veces nos enfermamos, ¿cuántos días por enfermedad prevés tomar?</p>
            <input type="number" value="" placeholder="Días Incapacidad" class="inputcantidades" ng-model="incapacidad" min="0">
        </div>
        <div class="twocol">
        	<img src="../images/icoadministracion.png" />
        	<p>¿Qué porcentaje de tu tiempo utilizas en juntas, cotizaciones, etc.?</p>
        	<input type="number" value="" placeholder="Administración" class="inputcantidades" ng-model="tiempo_admin" min="0">
        </div>
        <div class="twocol">
        	<img src="../images/icoservicios.png" />
        	<p>¿Cuáles son tus gastos fijos?</p>
        	<input type="number" value="" placeholder="Renta" class="inputcantidades" ng-model="renta_mensual" min="0">
            <input type="number" value="" placeholder="Servicios" class="inputcantidades" ng-model="servicios_mensuales" min="0">
            <input type="number" value="" placeholder="Papelería" class="inputcantidades" ng-model="papeleria_mensual" min="0">
            <input type="number" value="" placeholder="Otros" class="inputcantidades" ng-model="otros_mensuales" min="0">
            <p><strong>Total:</strong>{{fijos_mensuales()}}</p>
        </div>
        <div class="twocol last">
        	<img src="../images/icoganancia.png" />
        	<p>Tu trabajo es muy valioso, ¿qué porcentaje mereces de ganancia?</p>
        	<input type="number" value="" placeholder="Ganancia" class="inputcantidades" ng-model="porcentaje_utilidad" min="0">
        </div>
    </div>
    
    <div class="row preciorow">
        <div class="fourcol">
	        <p class="fraseprecio">Tu hora de trabajo vale:</p>
        	<p id="elPrecio" class="preciohora">{{hora_diseno | currency}}</p>

        </div>
        <div class="fourcol last">
        	<p class="frasepreciomensual">Necesitas vender <span class="preciomensual">{{venta_mensual() | currency}}</span> para ser rentable</p>
            <p>Ve todo el procedimiento <a id="saberMas" href="">aquí</a></p>
        </div>
        <div class="fourcol last">
        	<a href="https://twitter.com/share" class="twitter-share-button" data-text="¿Sabes cuánto cobrar? Descúbrelo #HoraJusta" data-via="CosmonautaMX" data-lang="es" data-related="CosmonautaMX" data-hashtags="Cosmonauta">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

			<div style="clear:both; height:20px;"></div>

			<div class="fb-like" data-href="http://cosmonauta.mx/toolbox/precioporhora.html" data-send="true" data-width="300" data-show-faces="true" data-action="recommend"></div>
            
            
            <div style="clear:both; height:20px;"></div>
            
            
            <!-- Place this tag where you want the +1 button to render. -->
<div class="g-plusone" data-annotation="inline" data-width="300"></div>

<!-- Place this tag after the last +1 button tag. -->
<script type="text/javascript">
  window.___gcfg = {lang: 'es-419'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
            

        </div>
    </div>

    <div class="row explicacionrow"> 
    	<div class="onecol"></div>
        <div class="tencol">
            <p>Para calcular el precio por hora para un salario de: {{salario_mensual_promedio | currency}} hacemos lo siguiente:</p>
            <ol>
                <li>
                    <p>Calculamos tu salario anual:</p>
                    <p>Salario mensual × 12.5 meses (<small>{{meses | number}} meses + {{aguinaldo * 30 | number}} días de aguinaldo.</small>)</p>
                    <p>{{salario_mensual_promedio | currency}} × 12.5 = <strong>{{salario_anual() | currency}}</strong></p> 


                </li>
                <li>
                    <p>Encontramos tu costo básico por hora:</p>
                    <p>Salario anual ÷ {{horas_posibles() | number}} horas posibles (<small>{{horas | number}} horas × {{dias | number}} días × {{semanas | number}} semanas</small>)</p>
                    <p>{{salario_anual()| currency}} ÷ {{horas_posibles()| number}} = <strong>{{costo_basico() | currency}}</strong></p>
                </li>
                <li>
                    <p>Sumamos el costo de las horas que no trabajarás:</p>
                    <p>{{feriados | number}} días feriados × {{horas | number}} hs. = {{horas_feriados() | number}} hs. +</p>
                    <p>{{vacaciones | number}} días de vacaciones × {{horas | number}} = {{horas_vacaciones() | number}} hs. + </p>
                    <p>Prima vacacional (<small>Calculada al {{prima * 100}}%</small>) {{horas_prima() | number}} hs. + </p>
                    <p>{{incapacidad | number}} días de incapacidad × {{horas | number}} hs. = {{horas_incapacidad() | number}} hs.</p>
                    <p><strong>{{horas_no_posibles() | number}} hs. × {{costo_basico() | currency}} de costo básico = {{costo_no_posibles() | currency}}</strong></p>
                </li>
                <li>
                    <p>Calculamos el costo del tiempo que dedicas a cotizaciones y juntas (tiempo administrativo):</p>
                    <p>{{tiempo_admin | number}}% ({{horas_posibles() | number}} hs. posibles - {{horas_no_posibles() | number}} horas que no trabajarás) × {{costo_basico() | currency}} costo básico.</p>
                    <p><strong>{{tiempo_admin | number}}% × {{horas_efectivas() | number}} hs. × {{costo_basico() | currency}} = {{costo_admin() | currency}}</strong></p>
                </li>
                <li>
                    <p>Calculamos el total de tus gastos fijos:</p>
                    <p>Renta mensual: {{renta_mensual | currency}} +</p>
                    <p>Servicios mensuales: {{servicios_mensuales | currency }} +</p>
                    <p>Papelería mensual: {{papeleria_mensual | currency}} +</p>
                    <p>Otros gastos fijos mensuales: {{otros_mensuales | currency}}</p>
                    <p>Gastos fijos mensuales {{fijos_mensuales() | currency}} × {{meses | number}} meses = <strong>{{fijos_anuales()| currency}} fijos anuales</strong></p>  
                </li>
                <li>
                    <p>Sumamos el costo de las horas que no trabajas más el costo del tiempo de administración y el de los gastos fijos para obtener el costo extra anual por tu trabajo.</p>
                    <p>{{costo_no_posibles() | currency}} + {{costo_admin() | currency}} + {{fijos_anuales()| currency}} = <strong>{{costo_extra_anual() | currency}} de costo extra anual</strong></p>
                </li>
                <li>
                    <p>Ahora calculamos lo que ganarás al año:</p>
                    <p>{{horas_posibles() | number}} hs. posibles al año - {{horas_no_posibles() | number}} hs. de vacaciones, feriado e incapacidad - {{horas_admin() | number}} hs. de juntas cotizaciones × {{costo_basico() | currency}} costo básico</p>
                    <p><strong>{{horas_vendibles() | number}} horas de diseño × {{costo_basico() | currency }} = {{ganancia_anual() | currency}} de ganancia anual.</strong></p>
                </li>
                <li>
                    <p>Calculamos el porcentaje de rentabilidad dividiendo el costo entre la ganancia:</p>
                    <p>{{costo_extra_anual() | currency}} ÷ {{ganancia_anual() | currency}} = {{porcentaje_rentabilidad() | number}}%</p>
                </li>
                <li>
                    <p>Por último para calcular la hora de diseño sumamos el porcentaje de rentabilidad y el porcentaje de utilidad a nuestro costo básico:</p>
                    <p>{{costo_basico()| currency}} + {{costo_basico()| currency}} × {{porcentaje_rentabilidad() | number}}%  + {{costo_basico() | currency}} × {{porcentaje_utilidad | number}}% = <strong>{{hora_diseno | currency}} por hora de diseño.</strong> </p>
                </li>
            </ol>
        </div>
    </div>
    

</div> <!-- /container -->

<footer>
<div class="container">
	<div class="row">
    	<div class="twocol">
        </div>
		<div class="eightcol">
            <p>Desarrollado por <a href="http://cosmonauta.mx#contacto-nav">Cosmonauta.MX</a>, basado en los cálculos de <a href="http://es.scribd.com/doc/7739733/Calculo-de-Costo-Por-Hora-de-Trabajo-de-Diseno" target="_blank">Silvia Oropeza y Josefina Reséndiz</a></p>
          </div>
    </div>
</div>
</footer>
    <!-- Load JS here for greater good =============================-->
<!--    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="js/jquery.dropkick-1.0.0.js"></script>
    <script src="js/custom_checkbox_and_radio.js"></script>
    <script src="js/custom_radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="js/application.js"></script>-->
    <!--[if lt IE 8]>
      <script src="js/icon-font-ie7.js"></script>
      <script src="js/icon-font-ie7-24.js"></script>
    <![endif]-->

</body>

</html>