<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Cosmonauta | Digital By Default</title>
    <meta name="description" content="Calculadora de precio de hora de trabajo">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<!-- 1140px Grid styles for IE -->
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->

	<!-- The 1140px Grid - http://cssgrid.net/ -->
	<link rel="stylesheet" href="css/1140.css" type="text/css" media="screen" />
	
	<!-- Your styles -->
	<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
	
	<!--css3-mediaqueries-js - http://code.google.com/p/css3-mediaqueries-js/ - Enables media queries in some unsupported browsers-->
	<script type="text/javascript" src="js/css3-mediaqueries.js"></script>
    
    <!-- Loading Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
        <script type="text/javascript" src="../js/vendor/angular-ui.min.js"></script>
        <script type="text/javascript" src="../js/vendor/angular-ui-ieshiv.min.js"></script>
        <script src="../js/preciohora.js"></script>


</head>


<body ng-app="CalcApp">

        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-ZMWQ"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-ZMWQ');</script>
        <!-- End Google Tag Manager -->



<div class="container" ng-controller="calcCtrl">

	<div class="row firstrow">
    	<div class="twocol">
        </div>
        <div class="eightcol">
        	<h2>¿Sabes cuánto cobrar por una hora de tus servicios?</h2>
			<h3>Responde 5 preguntas y descúbrelo.</h3>
        </div>
        <div class="twocol last">
        </div>
    </div>
    <div class="row preguntas">
        <div class="twocol">
        	<img src="images/icosueldo.png" />
        	<p>¿Cuánto te gustaría ganar al mes?</p>
        	<input type="text" value="" placeholder="Sueldo" class="inputcantidades" ng-model="salario_mensual_promedio">
        </div>
        <div class="twocol">
        	<img src="images/icosueldo.png" />
        	<p>¿Cuántos días libres quieres tener?</p>
        	<input type="text" value="" placeholder="Vacaciones" class="inputcantidades" ng-model="vacaciones">
            <input type="text" value="" placeholder="Días festivos" class="inputcantidades" ng-model="incapacidad">
        </div>
        <div class="twocol">
        	<img src="images/icosueldo.png" />
        	<p>¿Qué porcentaje de tu tiempo utilizas en juntas, cotizaciones, etc.?</p>
        	<input type="text" value="" placeholder="Administración" class="inputcantidades" ng-model="tiempo_admin">
        </div>
        <div class="twocol">
        	<img src="images/icosueldo.png" />
        	<p>A veces nos enfermamos, ¿cuántos días por enfermedad prevés tomar?</p>
        	<input type="text" value="" placeholder="Días Incapacidad" class="inputcantidades">
        </div>
        <div class="twocol">
        	<img src="images/icosueldo.png" />
        	<p>¿Cuáles son tus gastos fijos?</p>
        	<input type="text" value="" placeholder="Renta" class="inputcantidades" ng-model="fijos_mensuales">
            <input type="text" value="" placeholder="Servicios" class="inputcantidades">
            <input type="text" value="" placeholder="Papelería" class="inputcantidades">
            <input type="text" value="" placeholder="Otros" class="inputcantidades">
        </div>
        <div class="twocol">
        	<img src="images/icosueldo.png" />
        	<p>Tu trabajo es muy valioso, ¿qué porcentaje mereces de ganancia?</p>
        	<input type="text" value="" placeholder="Ganancia" class="inputcantidades" ng-model="porcentaje_utilidad">
        </div>
    </div>
    
    <div class="row preciorow">
		<div class="twocol">
        </div>
        <div class="sixcol">
	        <p class="fraseprecio">Tu hora de trabajo vale:</p>
        	<p class="preciohora">{{hora_diseno()|currency}}</p>
        </div>
        <div class="fourcol last">
        	<p class="frasepreciomensual">Necesitas vender <span class="preciomensual">{{venta_mensual() | currency}}</span> para ser rentable</p>
            <p>Ve todo el procedimiento <a href="">aquí</a></p>
        </div>
    </div>
    

</div> <!-- /container -->

<footer>
<div class="container">
	<div class="row">
    	<div class="twocol">
        </div>
		<div class="eightcol">
            <p>Desarrollado por <a href="#">Cosmonauta.MX</a>, basado en los calculos de estas <a href="#">dos señoras</a></p>
          </div>
    </div>
</div>
</footer>
    <!-- Load JS here for greater good =============================-->
<!--    <script src="js/jquery-1.8.2.min.js"></script>
    <script src="js/jquery-ui-1.10.0.custom.min.js"></script>
    <script src="js/jquery.dropkick-1.0.0.js"></script>
    <script src="js/custom_checkbox_and_radio.js"></script>
    <script src="js/custom_radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="js/application.js"></script>-->
    <!--[if lt IE 8]>
      <script src="js/icon-font-ie7.js"></script>
      <script src="js/icon-font-ie7-24.js"></script>
    <![endif]-->

</body>

</html>